<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
 <th:block th:include="include :: header('项目管理')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>项目名称：</p>
                                <input type="text" name="projName"/>
                            </li>

                            <li>
                                <p>项目阶段：</p>
                                <select name="projStage" th:with="type=${@dict.getType('proj_stage')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn  btn-primary btn-xs" onclick="$.operate.add()" shiro:hasPermission="module:projmanage:add">
                    <i class="fa fa-plus"></i> 创建新项目
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('module:projmanage:edit')}]];
        var viewFlag = [[${@permission.hasPermi('module:projmanage:view')}]];
        var removeFlag = [[${@permission.hasPermi('module:projmanage:remove')}]];
        var projStageDatas = [[${@dict.getType('proj_stage')}]];
        var projStatusDatas = [[${@dict.getType('proj_status')}]];
        var prefix = ctx + "module/projmanage";

        var userPrefix = ctx + "system/user";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "项目管理详情",
                columns: [{
                    checkbox: true
                },
                    {
                        field : 'projId',
                        title : '项目id',
                        visible: false
                    },
                    {
                        field : 'projStage',
                        title : '项目阶段',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(projStageDatas, value);
                        }
                    },
                    {
                        field : 'projName',
                        title : '项目名称'
                    },
                    {
                        field : 'projLeader',
                        title : '项目负责人',
                        visible: false
                    },
                    {
                        field : 'projPeriod',
                        title : '项目周期（月）',
                        visible: false
                    },
                    {
                        field : 'projBudget',
                        title : '项目预算（￥）',
                        visible: false
                    },
                    {
                        field : 'projStatus',
                        title : '项目状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(projStatusDatas, value);
                        }
                    },

                    {
                        field : 'projProgress',
                        title : '项目进度',
                        formatter: function(value, row, index) {
                            return $.table.getProgress(value);
                        }
                    },
                    {
                        field : 'projUserids',
                        title : '参与人员',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return $.table.getImg(value,userPrefix);
                        }
                    },
                    {
                        field : 'projDesc',
                        title : '项目描述',
                        visible: false
                    },
                    {
                        field : 'remark',
                        title : '备注',
                        visible: false
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn  btn-primary btn-sm ' + viewFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.projId + '\')"><i class="fa fa-folder"></i>查看</a> ');
                        actions.push('<a class="btn btn-info btn-sm ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.projId + '\')"><i class="fa fa-pencil"></i>编辑</a> ');
                        actions.push('<a class="btn btn-warning btn-sm ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.projId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /*数据库表-详细*/
        function detail(projId) {
            var url = prefix + '/projmanage/' + projId;
            $.modal.openTab("项目详情", url);
        }
    </script>
</body>
</html>